body {
    background-color: rgba(0,0,0,0)
}

#container {
    position: relative;
    margin: auto;
    margin-top: 300px;
    width: 200px;
    height: 200px;
    /* background-color: chartreuse; */
}

button {
    display: block;
    margin: 10px;
    font-size: larger;
}

.joint {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background-color: blue; */
  top: 50%;
  left: 100%;
  transform: translate(0%, -50%)
}


#container > .joint {
  left: 50%;
}

.arm {
    position: absolute;
    width: 100px;
    border: solid black 1px;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}

#pen {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background-color: blueviolet; */
    top: 50%;
    left: 100%;
    transform: translate(0%, -50%);
}

.dot {
    position: absolute;
    /* width: 20px;
    height: 20px; */
    border-radius: 50%;
    z-index: 0;
    border: solid black 1px;
    top: 50%;
    left: 100%;
    transform: translate(0%, -50%);
    /* animation-name: border_color_transition;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
}

.arm_disappear {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    border: solid rgba(0,0,0,0) 1px;
    animation-name: border_color_disappear;
    animation-duration: 10s;
}

@keyframes border_color_disappear {
  from {
    border-color: black;
  }
  to {
    border-color: rgba(0,0,0,0);
  }
}

@keyframes border_color_transition {
  from {
    border-color: black;
  }
  25% {
      border-color: red;
  }
  50% {
      border-color: yellow;
  }
  to {
    border-color: blanchedalmond;
  }
}