button {
    border: none;
    background-color: lightgrey;
    min-width: 30px;
    font-size: 1rem
}

button:hover {
    background-color: rgb(20, 20, 20);
    color: white
}

#result {
    width: 200px;
    height: 30px;
    background-color:lightgrey
}

input {
    background-color:rgb(230, 230, 230);
    border: solid black 1px;
    height: 20px
}

#container {
    margin: 20px
}