body {
    background-color: bisque;
    height: 500px;
}

#container {
    top: 25%;
    width: 400px;
    margin: auto;
    position: relative;
}

.logo {
    display: none;
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.active {
    display: inline;
}

.button_prev, .button_next {
    padding: 0 10px;
    position : absolute;
    cursor: pointer;
    border: none;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(0, 0, 0, .3);
    font-size: 2rem;
    font-weight: bold;
}

.button_next {
    right: 0;
}

.button_prev {
    left: 0;
}

.button_prev:hover,
.button_next:hover {
    background-color: rgba(0, 0, 0, .7);
}

.puce {
    width: 20px;
    height: 20px;
    border: none;
    background:rgba(0, 0, 0, .3);
    cursor: pointer;
}

.puce:hover {
    background:rgba(0, 0, 0, .7);
}

.puce-active {
    background: rgba(0, 0, 0, .7);
}