body {
    background-color: bisque;
    height: 500px;
}

#container {
    top: 25%;
    width: 400px;
    margin: auto;
    position: relative;
}

.logo {
    display: none;
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.active {
    display: flex;
}

.button_prev, .button_next {
    padding: 5px 10px;
    position : absolute;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(0, 0, 0, .3);
    /* border-radius: 0 10px 10px 0; */
    transition: all .5s;
    font-size: 2rem;
    font-weight: bold;
}

.button_next {
    right: 0;
    /* border-radius: 10px 0 0 10px; */
}

.button_prev:hover,
.button_next:hover {
    background-color: black;
}