nav {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, .7);
    color: white;
    transition: all 1s
}

div {
    padding: 10px;
}

div:last-child {
    padding-right: 50px
}

div:nth-child(4) {
    margin: auto;
}

div:first-child {
    padding-left: 50px;
    transition: all 1s
}

@media (min-width: 768px) {
    nav {
        background-color: blueviolet;
    }

    div:first-child {
        padding-left: 200px
    }
}